.center {
  width: fit-content;
  margin: 0 auto;
}

.logo{
  display: flex;
  padding-top: 40px;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  font-size: 27px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #353a3f;
  margin: 0 auto;
}

.center h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  font-size: 27px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #353a3f;
}

.center h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  font-size: 15px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #353a3f;
}


.tienda {
  width: fit-content;
  margin: 0 auto;
  padding: 10px 50px 10px 50px;
}

.tienda a {
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  font-size: 17px;
}

.tienda h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  font-size: 20px;
}

.tienda h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 15px;
}


.btn-agregar {
  font-size: 12px;
  background-color: #353a3f;
  border-radius: 7px;
  padding: 10px 15px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 10px;
  margin-top: 15px;
}

.btn-agregar:hover,
.btn-agregar:focus,
.btn-agregar.active {
  color: #353a3f;
  border: 2px solid #353a3f;
  outline: none;
  background: transparent;
  margin-bottom: 6px;
}

.container-fluid {
  width: fit-content;
  margin: 0 auto;
  padding-top: 5px;
}

.container-fluid h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  font-size: 27px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #353a3f;
}

.card {
  border-radius: 12px;
}

.card img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;

}

.datos a {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  width: 700;
  padding-bottom: 30px;
}

.redes {
  padding-top: 10px;
}

#whatsapp {
  position: fixed;
  right: 10px;
  bottom: 20px;
  display: block;
  padding-bottom: 20px;
  padding-right: 5px;
  z-index: 1000;
}


/** CARRITO **/

.contenedor-carrito {
  display: flex;
  margin: 0 auto;
  width: 70%;
  flex-direction: column;
  gap: 1.5rem;
  padding: 5px 15px 5px 15px;

}

@media only screen and (max-width: 1200px) {

  .contenedor-carrito {
    width: 80%;
    padding: 5px 15px 5px 15px;
  }
}

@media only screen and (max-width: 768px) {

  .contenedor-carrito {
    width: 90%;
  }
}

.h2 {
  padding: 15px;
}

.carrito-vacio,
.carrito-comprado {
  color: black;
  display: flex;
}

.carrito-comprado {
  color: black;
  display: flex;
}

.carrito-productos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.carrito-producto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dddddc;
  color: black;
  padding: .5rem;
  padding-right: 1.5rem;
  border-radius: 0.3rem;
}

.carrito-producto-imagen {
  width: 10rem;
  border-radius: 0.3rem;

}

.carrito-producto small {
  font-size: 0;
}

.carrito-producto-eleiminar {
  border-bottom: 0;
  border-color: transparent;
}

.carrito-acciones {
  display: flex;
  justify-content: space-between;
}


.carrito-acciones-der {
  display: flex;
}

.carrito-acciones-total {
  display: flex;
  background-color: #dddddc;
  padding: .5rem;
  color: black;
  font-weight: 700;
  text-transform: capitalize;
  border-radius: 0.5rem;

}

.carrito-acciones-comprar {
  border: 0;
  background-color: green;
  padding: 5px 30px 5px 30px;
  border-radius: .5rem;
  color: white;
  text-transform: capitalize;
  cursor: pointer;
  margin-left: 20px;
}

.carrito-acciones-vaciar {
  border: 0;
  background-color: rgb(64, 68, 64);
  padding: 7px 30px 7px 30px;
  border-radius: .5rem;
  color: white;
  text-transform: capitalize;
  cursor: pointer;
}

.disabled{
display: none;
} 

.numerito{
  background-color: black;
  color: #ffffff;
  padding: 5px 10px 5px 10px;
  border-radius: 2px;
  margin-left: 10px;
}

.swal2-styled.swal2-confirm {
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: black;
  color: #fff;
  font-size: 1em;
}